page-login {
    img{
        width: auto;
        margin: auto;
        display: block;
        padding-top: 40px;
      }
    
      .button-md-test, .button-ios-test,.button-wp-test {

          margin-top: 40px;
          margin-left: 7px;
      }

      .button-clear-md-secondary{
          display: block;
          margin: 0 auto;
          font-size: 1em;
          text-transform: none;
      }

      .label-md-text-color-focused{
          color: #FF4C3E;
      }
}
