<ion-content padding>
    <ion-icon  end color="test" name="settings"></ion-icon>

  <img src="./assets/imgs/logoTest.png" alt="logo">

  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    
      <ion-item>
          <ion-label color="test" floating>Usuario</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-label color="test" floating>Contraseña</ion-label>
          <ion-input  type="password" formControlName="password"></ion-input>
      </ion-item>
      
      <button block ion-button color="test" type="submit" item-left>Iniciar</button>
      <button ion-button color="secondary" clear >Recuperar contraseña</button>
  </form>

</ion-content>
