<ion-header>
  <ion-navbar>


    <ion-title>
      <span text-color="test">Usuarios</span>
    </ion-title>
    
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon color="test" name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goTo()"> 
        <ion-icon color="test" name="menu"></ion-icon>
      </button>

    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let u of users">
    <ion-row>
      <ion-col width-20>
        <img src="./assets/imgs/man.png" alt="">
      </ion-col>
      <ion-col width-80>
          <ion-card-header>{{u.title}}</ion-card-header>
          <p>{{u.body}}</p>
      </ion-col>
    </ion-row>
  </ion-card>


  <button class="footer" ion-button color="test" block (click)="doConfirm()">
    <ion-icon color="white" name="document"></ion-icon> Pedir</button>
</ion-content>
