page-home {

  [text-color="test"] {
    color: #FF4C3E;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  ion-col img {
    padding-top: 10px;
    padding-left: 5px;
    width: 60px;
    height: auto;
  }

  .footer {
    position:fixed;
    bottom:0;
    height:50px;
    text-transform: none;
 }

 span ion-icon{
   padding-right:8px; 
 }
}
