page-options {
    
    [text-color="test"] {
        color: #FF4C3E;
    }

    ion-col img{
        display: block;
    width: 90px;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;

    }
    ion-col p:first-child {
        font-weight: bold;
    }
}
