<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
      <ion-col width-30>
          <img src="./assets/imgs/man.png" alt="">
        </ion-col>
        <ion-col >
          <p>Tienda TI</p>
          <p>Nº Tienda: 200000924</p>
          <p>Viernes 26 Enero 2018</p>
          <p>Versión:3.1.1</p>
          <p>Pedido #: 6515</p>
        </ion-col>
  </ion-row>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon color="test"  [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
